/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');  */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif;  */
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

header{
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;
    background: white;
    height: 66px;
    
}
    
.search-container{
    padding: 7px 10px;
    margin: auto;
    width: 25vw;
    border: 0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;

}
.left img{
    padding: 0px;
    width: 45px;
    height: 45px;
}

.container{
    padding: 0vw 10vw ;
}

nav{
    font-size: 12px;
    padding-top: 14px;
  }

nav ul li{
    list-style: none;
    padding: 0 12px;
}

.section1{
    background: #f2f2f2;
}

.homeImg{
    width: 80vw;
    margin: 15px 0;
}

.itemImg{
    width: 10vw;
    margin: 4px 5px;
}

.active {
    background-color: #717171 !important;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.mySlides {
      display: none;
      width: 100%;
    }
img {
    vertical-align: middle;
}

footer{
     padding: 20px;
     text-align: center;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


