* {
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.items-center{
     align-items: center;
} 

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.uppercase{
    text-transform: uppercase;
}

.semibold{
    font-weight: bolder;
}

.mx-2{
    margin-top: 12px ;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 15px;
}

.slideshow-container{
    /* max-width: 1000px; */
    width: fit-content;
    position: relative;
    margin: auto;
}

.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.flex-wrap{
    flex-wrap: wrap;
}

.my-2{
    margin: 12px 0;
}

.footer-nav{
    display: block;
    box-sizing: inherit;
    margin-bottom: 24px;
    overflow:hidden ;
}

.desktop-shoplink{
    width: 155px;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}

.desktop-shoplink2{
    display: block;
    width: 15%;
    float: left;
}

.desktop-appExperience{
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    width: 360px;
    font-size: 15px;
    line-height: 19px;
    padding-top: 13px;
}




footer{
    /* background-color: #f7f8fd; */
    /* padding: 50px; */
    font-size: 80%;
    color: #888;
    width: 100%;
}

.footer-nav{
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
}
.footer-nav li{
    list-style: none;
    display: block;
    padding: 3px;
    margin-right: 20px;
}

.social-media{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 20px;
}

